{% extends 'base_view/root.html' %}
{% block chatroom %}
<div class=" col-lg-ml-1 friendtop messagetoggle" ondblclick="loadFriends()" onclick="generalToggle('.friendtop','.friendlistt')"  style="opacity:0">Friends</div>
<div class="friendlistt"></div>
{%endblock%}
{% block messageroom%}
<div class="messagetop" style="display:none">
    <div onclick="generalToggle('.msgtop','.messageappend')" class='msgtop messagetoggle messageusername'>
        <div>Messege</div>
    </div>
    <div onclick="loadMessanger()" class="reload">R</div>
</div>
<div class="messageappend"></div>
{% include 'shared/storyline-messagebox.html'%}
{%endblock%}
