<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raven Login</title>
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/static/css/login_view.css">

</head>
<body>
<div class="form-Bg">
    <div class="form-header">
        <img src="/static/raven.png" height="120">
        <!-- <h1>RAVEN</h1> -->
        <h2>Sign in</h2>
        <p>Login And Enjoy The Social Connections with Raven.</p>
    </div>
    {% if formerror.message %}
    <div style='color:white;font-size:.9rem'>
      *{{formerror.message}}
    </div>
    {%endif%}
    <form method="POST">
        <div class="form-group">
            <input type="text" id='username' placeholder="Username" required="required" type='text' name='username' aria-autocomplete="none" placeholder="Username" onkeyup="showButton()" class='form-control' required maxlength="100"
            autofocus/>
        </div>

        <div class="form-group" style="position: relative;">
            <div class="show" clicked='false' onclick="showPassword(this,'password')"><div></div></div>
            <input name='password' type="password" id='password' onkeyup="showButton()" placeholder="Password" class='form-control' required
            maxlength="16"/>
        </div>
        {%csrf_token%}
        <div class="form-group">         
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none"/>
            <label class="cbx" for="cbx">
            <span>
                <svg width="12px" height="10px" viewbox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </svg>
            </span>
            <span>Remember Me</span>
            </label>
        </div>
        <div class="form-group">
            <button disabled>Sign In</button>
            <div id="next">If you don't have an account <a href="/signup/">Signup Here.</a></div>
        </div>
    </form> 
</div>
    
    <div class="animation-area">
        <ul class="box-area">
            <li class="fa fa-plus"></li>
            <li></li>  
            <li class="fa fa-plus"></li>
            <li></li>
            <li class="fa fa-plus"></li>
            <li></li>
            <li class="fa fa-plus"></li>
            <li></li>
            <li class="fa fa-plus"></li>
            <li></li>
        </ul>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>