<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Raven Login</title>
  <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
  <div class="loginpage">
    <form class='for loginform' method='POST'>
      <div class="app-name">RAVEN</div>
      <label class="label">Login</label>
      {% if formerror.message %}
      <div style='color:red;'>
        .{{formerror.message}}
      </div>
      {%endif%}
      <div class="form-group">
        <input type='text' name='username' aria-autocomplete="none" placeholder="Username" onkeyup="showButton()" class='form-control' required maxlength="100"
          autofocus>
      </div>
      <div class="form-group">
        <div class="show" clicked='false' onclick="showPassword(this,'password')"><div></div></div>
        <input type='password' name='password' id='password' onkeyup="showButton()" placeholder="Password" class='form-control' required
          maxlength="16">
      </div>
      {%csrf_token%}
      <button class='btn btn-primary form-control' disabled type='submit'>Login</button>
          <p>If you don't have an account <a href="/signup/">Signup Here.</a></p>

    </form>
  </div>
  <script src="/static/js/login.js"></script>
</body>

</html>