<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Raven Signup</title>
  <link rel='stylesheet' href='/static/css/login.css'>
</head>
<body>
  <div class="loginpage signuppage">
    <form class='form loginform signupform' autocomplete="off" method='POST'>
      <div class="app-name">RAVEN</div>
      <div class="label">Signup</div>
      <div class="form-group">
        <input type='text' placeholder="Username" autofocus onfocusout="checkU(this.value)" autocomplete="off"
          onchange="validateUsername(this.id)" value='{{newuser.username}}' class='form-control' name='username'
          required id='username'>
        {% if formerror.username_error %}
        <div class="backend-u-err" style='color:red;'>
          <small>{{formerror.username_error}}</small>
        </div>
        {%endif%}
        <small id="usrreq" class='text-danger' style="display:none">Username Required</small>
        <small id="uservalmsg" class="text-danger" style="display:none">Username Already Exists.
          <span id="suggestuser">
          </span>
        </small>
        <small id="invalidusername" class="text-danger" style="display:none">Invalid username. Choose New One.
        </small>
      </div>
      <div class="form-group">
        <small class="show" clicked='false' onclick="showPassword(this,'password1')"><div></div></small>
        <input type='password' placeholder="Password" value='{{newuser.password1}}' class=' form-control'
          name='password1' required id='password1' onfocusout="checkP(this.value)"
          onkeyup="validatePassword(this.value)">
        <small class="text-danger" id="pasvalmsg" style="display:none"></small>
      </div>
      <div class="form-group">
        <div class="show" clicked='false' onclick="showPassword(this,'password2')"><div></div></div>
        <input type='password' placeholder="Confirm Password" value='{{newuser.password2}}' class='form-control'
          name='password2' required id='password2' onfocusout="checkCP(this.value)"
          onkeyup="validateConfirmPassword(this.id)">
        <small class="text-danger" id="cpvalmsg" style="display:none">Two Passwords Do Not Match.</small>
        {% if formerror.password_error %}
        <div class="backend-p-err" style='color:red;'>
          <p>{{formerror.password_error}}</p>
        </div>
        {%endif%}
      </div>
      <div class="form-group">
        <input type='text' placeholder="First Name" onfocusout="checkF(this.value,'#fvalmsg','f')"
          value='{{newuser.first_name}}' class='form-control {{first_name}}' required name='first_name' id='first_name'>
        <small class="text-danger" id="fvalmsg" style="display:none">First Name Required</small>
      </div>
      <div class="form-group">
        <input type='text' placeholder="Last Name" onfocusout="checkF(this.value,'#lvalmsg','l')" onkeypress="checkF(this.value,'#lvalmsg','l')"
          value='{{newuser.last_name}}' class='form-control {{name_name}}' name='last_name' id='last_name'>
        <small class="text-danger" id="lvalmsg" style="display:none">Last Name Required</small>
        {% if formerror.name_error %}
        <div class="backend-n-err" style='color:red;'>
          <p>{{formerror.name_error}}</p>
        </div>
        {%endif%}
      </div>
      {%csrf_token%}
      <button class='btn btn-primary btn-md form-control' type='submit' disabled>Signup</button>
    </form>
    <p>If you have an account <a href="/login/">Login here.</a></p>
  </div>
  <script src="/static/js/signup.js"></script>
</body>
</html>