html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}
*{
  margin:0;padding:0;
}
:root {
  --background-first: #0f2339;
  --try:white;
  --trycolor:black;
  --primary: #007bff;
  --show-eye-color:#5b5959;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.loginform {
  padding: 1em;
  color: white;
  border-radius: 10px;
  width: 400px;
  background-color: var(--background-first);
box-shadow:0 0 5000px 5000px rgba(16, 18, 59, 0.7);
}
.loginform p{
  margin-top: 10px;
  margin-bottom: -10px;
  color:#e8e4e4;
  font-size: .8em;
  text-align: center;
}
.loginform .app-name {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
}
.loginpage {
  background: url("../../storage/guitar.jpg") ;
  background-size:100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: inherit;
}
@media(max-width: 750px){
  .loginpage {
    background:none;
  }
}
.loginpage a {
  color: rgb(131, 182, 253);
  text-decoration: none !important;
}
.loginpage a:hover {
  color: rgb(50, 247, 11);
}
.signupform {
  width: 400px;
}
.signuppage {
  color: inherit;
  height: 100vh;
}
.label {
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0.5rem;
}
.form-group {
  position: relative;
}
.show,
.show div {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
.show {
  right: 10px;
  width: 18px;
  height: 7px;
  top: calc((1.5em + 0.75rem + 2px) / 2 - 4px);
  border: 1px solid var(--show-eye-color);
  border-top-width: 4px;
  z-index: 1;
}
.show div {
  box-sizing: border-box;
  height: 10px;
  width: 11px;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  border: 2px solid var(--show-eye-color);
  border-top:none !important;
}
.text-danger{
color:#e74040 !important;
}
/*body {
  background-color: rgba(29, 48, 70, 0.918);
  color: rgb(243, 236, 236);
}*/

/*fromBootstrap*/
/* navitem */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button:not(:disabled)
 {
  cursor: pointer;
}
button:disabled{
  
  opacity:.5;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-primary {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.form-control {
  width: calc(100% - 1.5em);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button {
  width:calc(100% + 2px) !important;
}
.form-group {
  margin-bottom: 1rem;
}
