@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  color:#c1bdbd;
}
body {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #013244;
  /* overflow: hidden; */
}
.form-Bg {
  box-shadow: 2px 2px 7px 3px rgba(17, 17, 17, 0.518);
  /* margin-bottom: 60px; */
  z-index: 15;
  position: relative;
  width: 380px;
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.form-header {
  margin: 0 0 20px;
  text-align: center;
}
.form-header h1 {
  color: #03d476;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
}
.form-header h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}
.form-header p {
  color: rgba(255, 255, 255, 0.61);
  font-size: 15px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
p {
  text-align: center;
}
.form-group {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 0 8px;
  position: relative;
}
.form-group input {
  outline: none;
  display: block;
  background: #1a4657;
  width: 100%;
  border: 0;
  border-radius: 25px;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding: 9px 20px;
  color: #03d476;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  background: #1a4657;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #194455;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 4px;
  left: 3px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #03d476;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #03d476;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #03d476;
  border-color: #03d476;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.form-group .form-recovery {
  color: #03d476;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.form-group button {
  outline: none;
  background: #03d476;
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 9px 20px;
  color: #a2ffd6;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
button:focus {
  color: #03d476;
  background: #fff;
}
::placeholder,
#next {
  color: #c1bdbd;
  font-weight: 500 !important;
}

a {
  text-decoration: none;
  color: #03d476;
}
button:disabled {
  background: #1d6444;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  list-style: none;

  animation: animed 20s linear infinite;
  bottom: -150px;
}
.box-area li:nth-child(1) {
  left: 10%;
  font-size: 20px;
  color: #1a4657;
  animation-delay: 0s;
}

.box-area li:nth-child(3) {
  left: 26%;
  font-size: 30px;
  color: #1a4657;
  animation-delay: 5s;
}
.box-area li:nth-child(5) {
  left: 50%;
  font-size: 25px;
  color: #1a4657;
  animation-delay: 2s;
}

.box-area li:nth-child(7) {
  left: 60%;
  font-size: 45px;
  color: #1a4657;
  animation-delay: 4.5s;
}
.box-area li:nth-child(9) {
  left: 80%;
  font-size: 30px;
  color: #1a4657;
  animation-delay: 6s;
}

.box-area li:nth-child(2) {
  left: 90%;
  width: 30px;
  height: 30px;
  background: #1a4657;
  border-radius: 50px;
  animation-delay: 1.5s;
  animation-direction: 10s;
}
.box-area li:nth-child(4) {
  left: 73%;
  width: 22px;
  height: 22px;
  background: #1a4657;
  border-radius: 50px;
  animation-delay: 15s;
}

.box-area li:nth-child(6) {
  left: 47%;
  width: 21px;
  height: 21px;
  background: #1a4657;
  border-radius: 50px;
  animation-delay: 3.8s;
}

.box-area li:nth-child(8) {
  left: 38%;
  width: 25px;
  height: 25px;
  background: #1a4657;
  border-radius: 50px;
  animation-delay: 16s;
}

.box-area li:nth-child(10) {
  left: 19%;
  width: 20px;
  height: 20px;
  background: #1a4657;
  border-radius: 50px;
  animation-delay: 1.2s;
}
@keyframes animed {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-880px) rotate(360deg);
    opacity: 0;
  }
}
.show,
.show div {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
.show {
  right: 20px;
  width: 18px;
  height: 7px;
  top: calc((1.5em + 0.75rem + 2px) / 2 - 4px);
  border: 1px solid #c1bdbd;
  border-top-width: 4px;
  z-index: 1;
}
.show div {
  box-sizing: border-box;
  height: 10px;
  width: 11px;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  border: 2px solid #c1bdbd;
  border-top:none !important;
}
small{
    margin-left:10px;
}
@media(max-width: 750px){
    .form-Bg{
        box-shadow:none;
    }
    body{
      height: 80vh;
    }
}

img{
    border-radius:50%;
    background:rgba(204, 204, 204, 0.442);
}