
{%block storyline %}
<div class='card text-center mb-2'>
    <div class="h4 card-title">{{user.first_name}} {{user.last_name}}</div>
    <div class="card-body">
        <img class='pp' alt="loading" height=350 width="350" src='{{user.profile.profile_picture.url}}'>
    </div>
    <div class="card-title">
        {{user.username}}
    </div>
    <div class="card-text">
        <b>{{user.first_name}} {{user.last_name}}</b> <br>
        working as <b>{{user.profile.job}}.</b><br>
        lives in <b>{{user.profile.address}}.</b><br>
        <b>{{user.profile.age}}.</b> years old.<br>
        <div class='card'>
            <div class=" h6 card-title">Bio:</div>
            <div class="card-text"><pre>{{user.profile.bio}}</pre></div>
        </div>
    </div>
    <div class="flex-center messagebody{{user.id}} m-2">
        {% include 'shared/conditional_buttons.html'%}

    </div>
</div>
<div class="userprofilestoriesappend"></div>
{%endblock%}
