
<!-- UPDATE PROFILE HIDDEN -->
<div class='card' id='update_profile' style='display:none'>
    <form method='POST' class="update_profile p-2" action='/profile/update_profile/'>
        <div class='notoggle'>Update Your Profile</div>
        <table>
            <tr>
                <td>First Name</td>
                <th><textarea type='text' class='form-control'  name='first_name' rows=1>{{request.user.first_name}}</textarea></th>
            </tr>
            <tr>
                <td>Last Name</td>
                <th><textarea type='text' class='form-control' name='last_name'  rows=1>{{request.user.last_name}}</textarea></th>
            </tr>
            <tr>
                <td>Age</td>
                <th><input type='number' class='form-control' value={{request.user.profile.age}} min="0" name='age'>
                </th>
            </tr>
            <tr>
                <td>Job</td>
                <th><textarea type='text' class='form-control' name='job' rows=1>{{request.user.profile.job}}</textarea></th>
            </tr>
            <tr>
                <td>Address</td>
                <th><textarea type='text' class='form-control'  name='address' rows=1>{{request.user.profile.address}}</textarea></th>
            </tr>
            <tr>
                <td>Contact No.</td>
                <th> <input type='number' class='form-control' name='contact_no' value={{request.user.profile.contact_no}}
                        ></th>
            </tr>
        </table>
        <p class="text-center">Bio</p>
        <textarea class='textarea_profli form-control'  onfocus = "textareaFocused(this,true)" onfocusout="textareaFocused(this,false)"   onkeydown="resizeTextArea(event)"  name='bio' rows=2>{{request.user.profile.bio}}</textarea>
            <div class="space_between_flex mt-2">
                <button class='like' type=submit>Update</button>
                <button id='cancel_btn' type="button" onclick="showupdateProfile()" class='delete'>Cancel</button>
            </div>
        {%csrf_token%}
    </form>
</div>
<!--ADD PROFILE PICTURE-->
<form   class="profile_picform card p-2"  id='ppform' style='display:none' method='POST' action=""
    enctype="multipart/form-data">
<div class="notoggle mb-2">Update Profile Picture</div>
<div class="custom-file">
    <label class="custom-file-label">Choose Picture</label>
    <input onchange="showImagePreview(this.id,destination='.pppreview')" type='file' class="custom-file-input" id="ppimg" name='' required>
</div>
<div class="imagefield" style="margin:0">
    <img onerror="this.error=null; this.src='/static/avatar.svg'" class="storyimage editimg pppreview"  height=200 src='{{request.user.profile.profile_picture.url}}'>
</div>
<textarea type="text" id="status" class="form-control" name='status'  onfocus = "textareaFocused(this,true)" onfocusout="textareaFocused(this,false)"   onkeydown="resizeTextArea(event)"
    placeholder="Say something about your picture."></textarea>
<div class="space_between_flex mt-2">
    <button class='like' type="submit" id="ppbtn" >Update</button>
    <button class="delete" type="button" id="ppchangecancel" onclick="hidePPForm('pppreview')">Cancel</button>
</div>
{%csrf_token%}
</form>

<!-- MY PROFILE -->
<div class='card text-center' id='my_profile'>
    <div class="h4 card-title">{{request.user.first_name}} {{request.user.last_name}}</div>
    <div class="card-body ">
        <div class="profilepicture" onclick="showEdit()">
            <div class="profile_picture_loading">
                <div class="pploading">Loading....</div>
            </div>
            <div class="hiddenbutton" id="profile_picture" onclick="hideAndShow('#my_profile','#ppform')">Change Picture</div>
            <img onerror="this.error=null; this.src='/static/avatar.svg'" class='pp ppmain mypp' height=350  src='{{request.user.profile.profile_picture.url}}'>
        </div>
      
    </div>
    <div class="card-title">
        {{request.user.username}}
    </div>
    <div class="card-text profiledetail">
        <b>{{request.user.first_name}}</b><b> {{request.user.last_name}}</b> <br>
        working as <b>{{request.user.profile.job}}</b><br>
        lives in <b>{{request.user.profile.address}}.</b><br>
        <b>{{request.user.profile.age}}.</b> years old.<br>
        contact no: <b>{{request.user.profile.contact_no}}.</b><br>
        <div class="from-group">
            <button class='btn btn-sm form-control comment ' id='update_profile_btn' onclick="showupdateProfile(true)">Update Profile</button>
        </div>
        <div class='card'>
            <div class=" h6 card-title">Bio:</div>
            <div class="card-text"><pre class="mybio">{{request.user.profile.bio}}</pre></div>
        </div>
    </div>
</div>
<!--ADD STORY-->
<div class="storyupdate">
    <div class="card mb-1 p-2">
        <div class="btn-group-own">
            <label class="label">Share Your Story</label>
            <div onclick="addStoryCancel()" class="cross addstorycancel ">X</div>
        </div>
        <form method='POST' action='/profile/my_profile/' id="storyform" enctype="multipart/form-data">
            <textarea name='add_story' id="add_story_textarea" onfocus = "textareaFocused(this,true)" onfocusout="textareaFocused(this,false)"   onkeydown="resizeTextArea(event)" onkeyup="startStoryAdd(this.id)" class='textarea_profile story ' rows="1" placeholder='It was a wonderful day today!!' style='border-radius:5px'></textarea>
                <div class="custom-file">
                    <label class="custom-file-label">Choose Picture</label>
                    <input class="custom-file-input" type="file" id="storyinputfile"  onchange="showImagePreview(this.id,'.storyfile','.storypreview','.addstorycancel') ">
                </div>
                <div class="imagefield storypreview">
                <img src="" class="storyimage storyfile"> 
            </div>
            <div class="center_flex">
                <button class='btn btn-primary btn-sm m-1 px-4' type='submit'>Share</button>
            </div>
            {%csrf_token%}
        </form>
    </div>
</div>
<div class="profilestoriesappend"></div>
{%block script%}
{%if request.isprofile%}
<script src="/static/js/profileupload.js"></script>
<script src="/static/js/profile.js"></script>
{%else%}
{%endif%}
{%endblock%}