{%if request.search%}
<div class="crossplace">
    <div class="cross" onclick="closeSearch()">X</div>
</div>
{%endif%}
{%if users%}
{% for user in users%}
<div class="messagebody messagebody{{user.id}}">
    <div style="display: flex;">
        <div class="a" href='/profile/{{user.username}}' onclick="route(this.attributes.href.value)">
            <img src="{{user.profile.profile_picture.url}}">
        </div>
        <div class="a" href='/profile/{{user.username}}' onclick="route(this.attributes.href.value)">
            <div class="messageuser">
                <div class="username">
                    {{user.first_name}} {{user.last_name}}
                </div>
                <div class="lastmessage">
                    {{user.mutual_friends}} mutual friend
                </div>
            </div>
        </div>
    </div>
    <div class="buttonflex">
        {% include 'shared/conditional_buttons.html'%}
    </div>
</div>
{%endfor%}
{%else%}
{%if request.search%}
<p class="text-center mt-5">No Search Result Found</p>
{%else%}
<p class="text-center mt-5">Nothing To Display</p>
{%endif%}
{%endif%}